/* Set global background/font*/

body {
    background-color: #d6f7cb;
    font-family: 'Quicksand', sans-serif;
}

/* Main head bar styling for entire container */
#head-bar{
    position: relative;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 85px;
    text-align: center;
    background-color: white;
    border-radius: 7px;
}

/* Container for inventory button/link */
#inventory-button {
    float: left;
    width: 28%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    font-size: 150%;
    text-shadow: 1px 2px #cdd1ce;
}

/* Home button container */
#home-button {
    float: left;
    width: 28%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: inline-block;
    margin-bottom: 2.5%;
}

/* Home button image within container */
#home-button-img {
    text-align: center;
    margin: 0 auto;
    height: 60px;
    width: 60px;
}

/* Grocery list button/link */
#grocery-button {
    float: left;
    width: 28%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    font-size: 150%;
    text-shadow: 1px 2px #cdd1ce;
}

/* Main home page container*/
#main-container {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: #4a855a;
    width: 95%;
    height: 600px;
    display: inline-block;
    border-radius: 10px;
}

/* Title for main container */
#title-container-main {
    text-align: center;
    padding: 5px;
    color: #d5e6da;
    text-shadow: 2px 5px #666b67;
    font-size: 50px;
}

/* Add item button styling */
#add_item-button {
    height: 100%;
    width: 100%;
    padding: 5px;
    margin-left: 33%;
    margin-top: 50%;
}

/* Food list container */
#food-container{
    position: relative;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 450px;
    background-color: #afc9b6;
    border-radius: 7px;
}

/* Generic container title */
.container-title {
    text-align: center;
    padding: 5px;
    color: #6f8f77;
    text-shadow: 1px 2px #666b67;
    font-size: 35px;
}

/*{box-sizing: border-box;}*/

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}