body {
    background-color: #d6f7cb;
}

.head-bar{
    width: 100%;
    height: 20px;
    display: inline-block;
    text-align: center;
}

.head-bar > p {
    padding: 2px;
    border: 1px solid black;
}